@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-essay p:first-of-type::first-letter {
  font-family: var(--font-cormorant);
  font-size: 4.5rem;
  font-weight: 700;
  float: left;
  line-height: 0.8;
  margin-right: 0.75rem;
  margin-top: 0.25rem;
  color: #D96B43; 
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
